$mobile-size: 414px;
$tablet-s-size: 500px;
$tablet-l-size: 768px;
$desktop-xs-size: 1024px;
$desktop-s-size: 1280px;
$desktop-m-size: 1360px;
$desktop-l-size: 1440px;

@mixin tablet-s {
  @media (min-width: #{$mobile-size + 1px}) {
    @content;
  }
}

@mixin tablet-l {
  @media (min-width: #{$tablet-s-size + 1px}) {
    @content;
  }
}

@mixin desktop-xs {
  @media (min-width: #{$tablet-l-size + 1px}) {
    @content;
  }
}

@mixin desktop-s {
  @media (min-width: #{$desktop-xs-size + 1px}) {
    @content;
  }
}

@mixin desktop-m {
  @media (min-width: #{$desktop-s-size + 1px}) {
    @content;
  }
}

@mixin desktop-l {
  @media (min-width: #{$desktop-m-size + 1px}) {
    @content;
  }
}

@mixin desktop-xl {
  @media (min-width: #{$desktop-l-size + 1px}) {
    @content;
  }
}
