:root {
  --primary: #fff;
  --secondary: #3d5af1;

  --primary-border: #e0e0e0;
  --secondary-bg: #f3f5ff;

  --font-clr: #000;
  --font-clr-inverse: #f2f2f2;

  --font-clr-secondary: #969696;

  --color-switch-btn: #f2c94c;
}
